html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./uploads/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: roboto, sans-serif !important;
    font-weight: 400;
    color: #fff;
}

.aantal {
    font-size: 30pt;
}


#number {
    font-weight: 700;
    font-size: 200pt;
    line-height: 170pt;
    -moz-text-shadow: 0 0 100px #fff;
    -webkit-text-shadow: 0 0 100px #fff;
    text-shadow: 0px 0px 100px #fff;
}
#uitleg,
#update {
    font-size: 14pt;
    font-style: italic;
    margin-top: 50px;
}
.btn-success,
.btn-danger {
    margin-right: 5%;
}
#footer {
    font-size: 12px;
    text-align: right;
}
.input {
	opacity: .95;
    background: white;
}
.pwbox {
	opacity: .95;
	background: white;
}

.settings {
    margin-top: 16px;
    margin-left: 16px;
}